* {
  box-sizing: border-box
}

::selection {
  background: #8C92AC;
}

body {
  background-color: #001f3f;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  margin:0
}

h1#loading {
  text-shadow: 0 0 9px lime;
  z-index: 3;
  font-size: 70px;
  margin: 0px;
  position: absolute;
  top: 35%;
  margin-top: -42.5px;
  left: 50%;
  margin-left: -155.555px;
}

#progress {
  margin: 0px;
  position: absolute;
  top: 50%;
  margin-top: -42.5px;
  left: 50%;
  margin-left: -337.25px;
  width: 50%;
  background-color: #242a34;
  border-radius: 15px;
}

#progressBar {
  width: 1%;
  height: 30px;
  border-radius: 15px;
  background-color: lime;
  box-shadow: 0 0 15px lime;
}

/* Slideshow container */
.planets-container {
  width: 100vw;
  height: 100vh;
}

/* Next & previous buttons */
#prev, #next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
#numbertext {
  color: #f2f2f2;
  font-size: 2vw;
  font-family: 'Poller One', cursive;
  padding: 22px 22px;
  position: absolute;
  top: 0;
}

h1#title {
  display: none;
  font-family: 'Audiowide', cursive;
  margin: 0px;
  padding-top: 30px;
  text-align: center;
  color: #ffe300;
  width: 100vw;
  font-size: 4vw;
}

h1#planet-name {
  color: white;
  margin: 0px;
  padding-top: 5vh;
  text-align: center;
}

h2.info {
  color: white;
  text-align: center;
}

#search {
  font-family: arial;
  position: absolute;
  top: 40px;
  right: 60px;
}

#searchPlanet {
  display: none;
  background-image: url('images/search_icon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 210px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 3px solid rgb(151, 151, 151);
}

#planetList {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  max-height: 80vh;
}

#planetList li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(41, 31, 31);
  display: block
}

#planetList li:hover:not(.header) {
  background-color: #eee;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  #prev, #next {font-size: 11px}
}