::selection {
  background: #8C92AC;
}

body {
  background-color: #001f3f;
  color: #ffe300;
  font-family: 'Source Code Pro', monospace;
  margin:0;
  overflow-x: hidden;
}

h1#loading {
  color: white;
  text-shadow: 0px 0px 9px lime;
  z-index: 3;
  font-size: 70px;
  margin: 0px;
  position: absolute;
  top: 38%;
  margin-top: -42.5px;
  left: 50%;
  margin-left: -155.555px;
}

#progress {
  margin: 0px;
  position: absolute;
  top: 55%;
  margin-top: -42.5px;
  left: 50%;
  margin-left: -337.25px;
  width: 50%;
  background-color: #242a34;
  border-radius: 15px;
}

#progress section {
  height: 0px;
}

#progressBar {
  width: 1%;
  height: 30px;
  border-radius: 15px;
  background-color: lime;
}

/* Slideshow container */
.planets-container {
  width: 100vw;
}

/* Next & previous buttons */
#prev, #next {
  color: white;
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover, #next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
#numbertext {
  color: #f2f2f2;
  font-size: 2vw;
  font-family: 'Poller One', cursive;
  padding: 22px 22px;
  position: absolute;
  top: 0;
  text-shadow: 2px 2px 4px black;
}

h1#title {
  display: none;
  font-family: 'Audiowide', cursive;
  margin: 0px;
  padding-top: 30px;
  text-align: center;
  color: #ffe300;
  width: 100vw;
  font-size: 4vw;
  text-shadow: 
    1px 0px 1px rgb(148, 148, 148), 0px 1px 1px #eee, 
    2px 1px 1px rgb(148, 148, 148), 1px 2px 1px #eee,
    3px 2px 1px rgb(148, 148, 148), 2px 3px 1px #eee,
    4px 3px 1px rgb(148, 148, 148), 3px 4px 1px #eee,
    5px 4px 1px rgb(148, 148, 148), 4px 5px 1px #eee,
    6px 5px 1px rgb(148, 148, 148), 5px 6px 1px #eee,
    7px 6px 1px rgb(148, 148, 148);
}

h1#planet-name {
  margin: 0px;
  padding-top: 5vh;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

#all_planets_info {
  display: none;
  margin: auto;
  width: 90%;
}

h2.info {
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

span.info_title {
  color: white;
}

#search {
  font-family: arial;
  position: absolute;
  top: 40px;
  right: 60px;
}

#searchPlanet {
  display: none;
  background-image: url('images/search_icon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 210px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 3px solid rgb(151, 151, 151);
}

#planetList {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  max-height: 80vh;
}

#planetList li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(41, 31, 31);
  display: block
}

#planetList li:hover:not(.header) {
  background-color: #eee;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.bb8{
  width: 60px;
  height: 75px;
  position: relative;
  top: -20px;
  left: -48px;
}
.bb8Head{
  width: 27px;
  height: 15px;
  border: 0.9px solid #000000;
  border-radius: 30px 30px 0 0;
  position: absolute;
  transform: rotate(29deg);
  top: 5.25px;
  left: 34.5px;
  z-index: 2;
  background-color: #e6e6e6;
}

.lens{
  height: 7.5px;
  width: 7.5px;
  position: absolute;
  z-index: 3;
  background-color: #002966;
  border-radius: 50%;
  left: 9px;
  top: 3px;
  border: 1.5px solid #000000;
}


.bb8Body{
  width: 42px;
  height: 42px;
  background-color: #e6e6e6;
  border: 0.9px solid #000000;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  -ms-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  top: 15px;
  left: 15px;
}

.circle{
  background-color: #FFA500;
  width: 22.5px;
  height: 22.5px;
  border: 0.9px solid #000000;
  border-radius: 50%;
  display: inline-block;
}

.bodyCircle1{
  position: absolute;
  top: 25%;
  left: -20%;
}

.bodyCircle2{
  position: absolute;
  top: -19%;
  right: -8%;
}

.bodyCircle3{
  width: 39px;
  height: 39px;
  top: 70%;
  left: 41%;
  position: absolute;
}

.innerCircle1{
  width: 13.5px;
  height: 13.5px;
  background-color: #e6e6e6;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.innerCircle3{
  width: 26.25px;
  height: 26.25px;
  background-color: #e6e6e6;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.bodyDot{
  background-color: #000000;
  height: 3.75px;
  width: 3.75px;
  position: absolute;
  border-radius: 50%;
}

.bodyDot1{
  top: 15%;
  left: 35%;
}

.bodyDot2{
  top: 55%;
  left: 55%;
}

.headDot{
  position: absolute;
  left: 21.75px;
  top: 9.75px;
  height: 2.25px;
  width: 2.25px;
}

.bodyLine1{
  background-color: #000000;
  height: 1.2px;
  width: 11.55px;
  transform: rotate(-32deg);
  position: absolute;
  top: 32%;
  left: 32%;
}

.bodyLine2{
  background-color: #000000;
  height: 1.2px;
  width: 12.15px;
  transform: rotate(35deg);
  position: absolute;
  top: 76%;
  left: 28%;
}

.bodyLine3{
  background-color: #000000;
  height: 1.2px;
  width: 14.55px;
  transform: rotate(92deg);
  position: absolute;
  top: 53%;
  left: 61%;
}

@-webkit-keyframes spin{
  0% {-webkit-transform: rotate(-360deg)};
  100% {-webkit-transform: rotate(0deg)};
}

@-moz-keyframes spin{
  0% {-moz-transform: rotate(-360deg)};
  100% {-moz-transform: rotate(0deg)};
}

@-ms-keyframes spin{
  0% {-ms-transform: rotate(-360deg)};
  100% {-ms-transform: rotate(0deg)};
}

@-o-keyframes spin{
  0% {-o-transform: rotate(-360deg)};
  100% {-o-transform: rotate(0deg)};
}

@keyframes spin{
  0% {transform: rotate(-360deg)};
  100% {transform: rotate(0deg)};
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  #prev, #next {font-size: 11px}
}